appdirs==1.4.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
geojson==2.5.0
greenlet==1.0.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysql-connector-python==8.0.24
mysqlclient==2.0.3
pygame==2.0.1
pyowm==3.2.0
PySocks==1.7.1
requests==2.25.1
six==1.15.0
SQLAlchemy==1.4.7
urllib3==1.26.4
virtualenv==20.4.4
Werkzeug==1.0.1
